{% extends 'base.html' %}

{% block content %}
<h1>Todolist</h1>
<h3>Username: {{user.username}}</h3>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>

<table>
    <tr>
        <th>Tanggal Pembuatan</th>
        <th>Judul</th>
        <th>Deskripsi</th>
        <th>Status</th>
        <th>Ubah</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for element in list_task %}
        <tr>
            <th>{{element.date}}</th>
            <th>{{element.title}}</th>
            <th>{{element.description}}</th>
            <th>{{element.is_finished}}</th>
            <th><button><a href="{% url 'todolist:ubah_status' element.id %}">Ubah Status</a></button>
                <button><a href="{% url 'todolist:hapus_task' element.id %}">Hapus Task</a></button>
            </th>
        </tr>
    {% endfor %}
</table>

<style>
    p {
        text-align:center;
        color:black; 
        font-size: 25px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        background-color: white;
    }
    body, table {
        background-color: white;
    }
    h5 {
        text-align:center;
        color:black; 
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
</style>

{% endblock content %}